    div.row.custom-row {
      /*border: 1px solid #000;*/
      padding: 1em;
      text-align: center;
      /*background-color: #dedede;*/
    }
    
    div.masu{
      border: 0.25px solid #000;
      background-color: #dedede;
    
    }
    
    div.tit {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      
    }
    
    img.logo{
      width: 150px;
    }
    